@import 'tables';
$main-backgound: #121212;
$main-color: #999;
html, body {
    background-color: $main-backgound;
    color: $main-color;
}
.home__page {
    .top_streamers {
        display: flex;
        flex-flow: row wrap;
        a {
            margin: 0 10px;
        }
    }    
}
.header {
    &__query {
        padding: 15px 0 15px 20px;
        color: #fff !important;
        width: 81%;
        font-size: 24px;
        border-width: 0;
        background: 0;
        border-bottom: 2px solid #FFF821;
    }
    &__submit {
        height: 60px;
        background: #D7CA25;
        font-size: 2rem;
        position: absolute;
        border: 1px solid #D7CA25;
        transition: 0.1s;
        font-weight: bold;
        margin-left: 30px;
        border-radius: 3px;
        padding: 0px 28px;
        cursor: pointer;
    }
}
