@import 'tables';
@import 'upDownVote';
$main-backgound: #121212;
$main-color: #999;
$main-yellow:  rgb(185, 182, 11);
html, body {
    background-color: $main-backgound;
    color: $main-color;
}
.home__page {
    .top_streamers {
        display: flex;
        flex-flow: row wrap;
        a {
            margin: 0 10px;
        }
    }    
}
header {
    .logo {
        svg {
            fill: $main-yellow;
            height: 30px;
        }
    }
}

