$break-ipad: 769px;
$break-mobile:  500px;
.loader_wrapper {
    position: absolute;
    @media screen and (min-width: $break-ipad) {
        width: 16rem;
        height: 11rem;
        top: 48%;
        left: 55%;
    }
    @media screen and (max-width: $break-ipad) and (min-width: 500px) {
        top: 35%;
        left: 40%;
    }

    width: 14rem;
    height: 14rem;
    top: 36%;
    left: 33%;
}
  