$break-ipad: 769px;
.slider-wrapper {
    position: relative;
}
.slider {
    display: flex;
    position: relative;
    width: 93vw;
    top: 0;
    left: 0;
    overflow-y: hidden;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    &::-webkit-scrollbar {
        display: none;
    }
    &__next,
    &__previous {
        display:none;    
        @media screen and (min-width: $break-ipad) {
            &__next,
            &__previous {
                display: flex;
                position: absolute;
                z-index: 3;
                width: 36px;
                height: 36px;
                top: 43px;
                border: none;
                border-radius: 50%;
                background-color: white;
                svg {
                    height: 25px;
                    fill:#1d1d1d;
                }
            }
            &__next {
                right:0;        
            }
            &__previous {
                left: -11px;
                svg {
                    transform: scaleX(-1);
                }
            }
        }
    }
    &.side {
        margin: 0 auto;
        justify-content: space-between;
        &.horisontal {
            flex-wrap: nowrap;
            justify-content: left;
           
            .video_cart {
                flex-direction: column;
            }
        }
        .video_cart {
            display: flex;
            flex-direction: row;
            transition: all 1s;
            position: relative;
            @media screen and (min-width: $break-ipad) {
                flex-direction: column;
            }
            &--image {
                width: 192px;
            }
            &__info {
                display: flex;
                flex-direction: column;
                &__streamer--pic {
                    display:none;
                }
                &__description {
                    width: 18.2rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a {
                        color: #a0a0a0;
                        font-size: 15px;
                        font-weight: normal;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .video_cart {
        margin: 5px;
        position: relative;
        &--image {
            padding: 0;
            width: 100vw;
            @media screen and (min-width: $break-ipad) {
                width: 210px;
            }
        }
        &__info {
            display: flex;
            flex-direction: row;
            font-size: 1.4rem;
            width: 100%;
            background-color: #121212;
            opacity: 0.8;
            &__streamer--pic {
                display:block;
                width: 40px;
                height: 40px;
                margin-right:12px;
                img {
                    width: 100%;
                }
            }
            &__description {
                width: 18.2rem;
                a {
                    color: #a0a0a0;
                    font-size: 15px;
                    font-weight: normal;
                    text-decoration: none;
                }
            }
        }
    }
}
