.streamer_video {
    width: 70vw;;
    margin: 0 auto;
  &__info {
    display: flex;
    &--pic {
        img {
            width: 30px;
        }
    }
    h1 {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;
    }
  }
}