$main-brand-color:  #D7CA25;
.streamer_video + .streamer_video {
    margin-top:2rem;
}
.streamer_video {
  &__info {
    display: flex;
    align-items: center;
    cursor: pointer;
    .up,.down {
        width: 2.2rem;
        height: 2.2rem;
        background: #E5E7FA;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: .3rem;
        svg { 
            width: 1.3rem;
        }
    }
    .up {
        svg {
            fill: #999;
        }
    }
    .down {
        svg {
            fill: $main-brand-color;
            transform: scaleY(-1);
        }
    }
    &--pic {
        img {
            width: 30px;
        }
    }
    h2 {
        margin: 0 0 0 10px;
        &.no_header {
            color: #1E2134;
            margin: 0;
        }
        font-weight: 500;
        color: lightgrey;
    }
  }
}