.table {
    &.side {
        .video_cart {
            display: flex;
            flex-direction: row;
            &--image {
                width: 192px;
            }
            &__info {
                display: flex;
                flex-direction: column;
                padding: 0 10px;
                &__description {
                    display: flex;
                    flex-direction: column;
                    a {
                        color: #a0a0a0;
                        font-size: 15px;
                        font-weight: 700;
                    }
                }

            }
        }
    }
    display: flex;
    flex-flow: row wrap;
    .video_cart {
        margin: 10px;
        img {
            padding: 0;
        }
    }
}