$break-ipad: 500px;
$break-pc: 1440px;
$main-brand-color:  #D7CA25;
.since--date {
    font-size: 1.3rem;
    position: absolute;
    text-decoration: none;
    background-color:#121212;
    opacity:.85;
    bottom: 7.1rem;
    left: .8rem;
    color:#fff;
    padding: .1rem .3rem;
    border-top-right-radius: 8px;
}
.table {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @media screen and (min-width: $break-ipad) {
        justify-content: left;
    }
    // &.clips {
    //     @media screen and (max-width: $break-ipad) {
    //         margin-left: -60px;
    //     }
    // }
    &.side {
        width: 100vw;
        @media screen and (min-width: $break-pc) {
            margin: 2rem 0 0 0;
            width: 76vw;
        }
        .video_cart {
            display: flex;
            flex-direction: column;
            border-radius: .5rem;
            box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
            padding: .8rem;

            @media screen and (min-width: $break-ipad) {
                flex-direction: column;
                margin-left: 1.5rem;
            }
            &--link:visited {
                filter: blur(5px);
            }
            &--image {
                @media screen and (min-width: $break-ipad) {
                    width: 279px;
                    height: auto;
                }
                width: 340px;
                height: auto;
            }
            &__info {
                display: flex;
                align-items: center;
                margin:10px 0 10px 5px;
                &__streamer--pic {
                    width: 40px;
                    img {
                        border-radius: 100%;
                    }
                }
                &__description {
                    width: 18.2rem;
                    @media screen and (min-width: $break-ipad) {
                        width: 12.2rem;
                    }
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a {
                        color: #a0a0a0;
                        font-size: 15px;
                        font-weight: normal;
                        text-decoration: none;
                    }
                }
                &__name {
                    text-align: left;
                }
            }
        }
    }
    &.dark {
        flex-flow: column;
        width: 332px;
        margin: 0 auto;
        .video_cart {
            padding: 3px 0 0 3px;
            margin: 10px 0;
            border-radius: 12px;
            background: #303354;
            &__info {

                &__description, &__name a, &__name {
                    color: #fff;
                }
            }
            &--link {
                padding: 0;
            }
            &--image {
                width: 326px;
                height: auto;
                border-radius: 12px 12px 0 0;
            }
            .since--date {
                bottom: 4.2rem;
                left: .3rem;
            }
        }
    }
    .video_cart {
        margin: 0 0  1.5rem;
        position: relative;
        &--image {
            padding: 0;
            width: 100vw;
            @media screen and (min-width: $break-ipad) {
                width: 210px;
            }
        }
        
        &--link:visited {
            .since--date {
               color: #B8BAD2;
            }
        }
        &__info {
            display: flex;
            flex-direction: row;
            font-size: 1.4rem;
            width: 100%;
            opacity: 0.8;
            &__streamer--pic {
                display:block;
                width: 40px;
                height: 40px;
                margin-right:12px;
                img {
                    width: 100%;
                }
            }
            &__name {
                display: flex;
                flex-direction: column;
                &__title:visited {
                    color: #434190;
                }
            }
            &__name,
            &__description {
                width: 26.3rem;
                overflow: hidden;
                text-overflow: ellipsis;
                &.avatar {
                    @media screen and (min-width: $break-ipad) {
                        width: 21.3rem;
                    }
                }
                &.title {
                    white-space: nowrap;
                }
                a {
                    color: #1E2134;
                    font-family: Roboto;
                    font-size: 15px;
                    font-weight: 500;
                    text-decoration: none;
                    @media screen and (max-width: $break-ipad) {
                        text-align: left;
                        width: 25rem;
                        word-wrap: break-word;
                    }
                }
                @media screen and (max-width: $break-ipad) {
                    display: flex;
                    flex-wrap: wrap;
                }
            }
            &__name {
                font-weight: bold;
                text-align: center;
            }
        }
    }
}