.player {
    position: relative;
    height: calc(100vw / 1.78) ;
    @media screen and (min-width: $break-large) {
        height: calc(68vw / 1.78);
        width: 68vw;
        margin: 3rem auto 0;
    }
    iframe {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0%;
        width: 100%;
        height: 100%;        
    }
    
}