$break-iphone-x: 1025px;
.player {
    position: relative;
    height: calc(100vw / 1.78) ;
    @media screen and (min-width: $break-large) {
        // height: calc(68vw / 1.78);
        // width: 68vw;
        height: calc(60vw / 1.78);
        width: 100%;
    }
    iframe {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0%;
        width: 100%;
        height: 100%;   
        border-radius: 8px;     
    }    
}
.player_and_nav {
    display: flex;
    @media screen and (max-width: $break-iphone-x) {
        flex-direction: column;
    }
    @media screen and (orientation:landscape) and (max-width: $break-iphone-x) { 
        flex-direction: row;
    }
}
