$break-iphone-5: 568px;
$break-iphone-x: 824px;
$main-brand-color:  #D7CA25;
$red-color: #D72525;
$green-color: #25D725;
.video_page {
    position: relative;
    &__info {
        display:flex;
        margin: 5px;
        h2 {
            margin: 0 0 0 5px;
        }
    }
    &__views {
        display: flex;
        svg {
            height: 20px;
            fill: white;
            margin: 0 5px;
        }
        &--num {
            font-size: 14px;
        }
    }
    .autoskip_switch {
        display: flex; 
        width: 30px;
        flex-flow: column;
        flex-grow:1;
        position: relative;
        &--btn {
            &:hover {
                border: 1px solid $main-brand-color;
                svg {
                    fill: $main-brand-color;
                }
            }
            &--label {
                color: white;
                font-size: 2.7rem;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            width: 76px;
            height: 36px;
            -webkit-user-select: none;
            user-select: none;
            outline: none;
            background-color: black;
            border-radius: 5px;
            border: 1px solid #6c6c6c;
            padding: 3px;
            svg {
                width: 24px;
                fill: white;
                
            }
            .on, .off {
                display: none;
            }
            &.enabled {
                .on {
                    display: block;
                    fill: $green-color;
                }
            }
            &.disabled {
                .off {
                    display: block;
                    fill: $red-color;
                }
            }
        }
    }
}
      
@media screen and (orientation:landscape) and (max-width: $break-iphone-x) { 
    .video_page {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .player {
            width: 85vw;
            height: calc(87vw / 1.78);
            @media (max-width: $break-iphone-5) {
                width: 81vw;
                height: calc(81vw / 1.78);
            }
        }
        .death_kill {
            flex-direction: column;
            align-items: center;
            justify-content: start;
            margin-top: 59px;
            &__back, &__next {
                flex-direction: column;
            }
        }

        .AutoskipSwitch {
            right: 65px;
            padding-top: 5px;
            .text {
                font-size: 1.5rem;
                margin: 3rem 0 0 0;
            }  
        }
    }
}