$main-brand-color:  #D7CA25;
.video__nav {
    @media screen and (min-width: $break-large) {
        width: 60vw;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px auto 0;
    &--left,
    &--right {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 10px auto 0;
    }
    &__container {
        display: flex;
        flex-direction: column;
        &--btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            user-select: none;
            outline: none;
            background-color: black;
            border-radius: 5px;
            border: 1px solid #6c6c6c;
            padding: 3px;
            span {
                color:white;
            }
            svg {
                width: 26px;
                fill: white;
            }
            &:hover {
                span {
                    color: $main-brand-color;
                }
                border: 1px solid $main-brand-color;
                svg {
                    fill: $main-brand-color;
                }
            }
            &:focus, &:active {
                border: 1px solid $main-brand-color;
            }
            &:disabled,
            &[disabled] {
                border: 1px solid white;
                opacity: 0.5;
                background-color: #aaa;
                svg {
                    fill: white;
                }
            }
        }
        &--lbl {
            width: 36px;
            height: 15px;
            color: white;
            margin-left: 15px;
        }
    }
}
